body{
    margin: 0;
    padding: 0;
}
/*body:before{*/
/*    content: '';*/
/*    position: fixed;*/
/*    width: 100vw;*/
/*    height: 100vw;*/
/*    background-image: url("./win-win-bg.jpg");*/
/*    background-position: center center;*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    -webkit-filter: blur(20px);*/
/*}*/
.auth-form{
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    padding: 80px 40px;
}
